.form {
  place-self: stretch end;
  color: $color-default-white;
  background-color: $sapphiret;
  padding: 55px 170px;
  padding-left: 0;
  padding-bottom: 71px;

  @media (max-width: $tablet-width) {
    place-self: normal;
    padding: 63px 163px 70px 133px;
  }

  @media (max-width: $mobile-width) {
    padding: 63px 15px 68px;
  }
}

.form__wrapper {
  width: 410px;

  h2 {
    margin: 0;
    font-family: $alumni;
    font-weight: 800;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;
    color: $color-default-white;
    margin-bottom: 18px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 31px;
    }
  }

  @media (max-width: $mobile-width) {
    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 36px;
    }
  }
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $tablet-width) {
    gap: 32px;
    column-gap: 59px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.form__input {
  input {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    background-color: transparent;
    padding: 5px;
    padding-left: 0;
    color: $color-default-white;
    border: none;
    border-bottom: 1px solid #74819c;

    &::placeholder {
      font-family: $roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;
    }

    &:hover,
    &:focus {
      outline: none;
      background: $text-red-blue;
    }

    &:active {
      outline: none;
      background: $red-to-blue;
    }
  }

  &--button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    grid-column: 1/-1;
    background-color: $sapphiret;
    color: $color-default-white;
    border: 3px solid $color-default-white;
    padding: 17px 0 16px;
    margin: 0;
    margin-top: -3px;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      background: $text-red-blue;
    }

    &:active,
    &:focus-within {
      outline: none;
      background: $red-to-blue;
    }

    @media (max-width: $mobile-width) {
      margin-top: 10px;
    }
  }
}
