.main-header {
  width: 100%;
  color: $color-default-white;
  background: $red-to-blue;

  @media (max-width: $tablet-width) {
    min-height: 100px;
    background: $red-to-blue-tablet;
  }

  @media (max-width: $mobile-width) {
    background: $red-to-blue-mobile;
  }
}

.main-header-wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1260px;
  padding: 30px 50px 50px;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 35px;
    padding-bottom: 82px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px 15px 101px 15px;
  }
}
