.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 40px;
  row-gap: 12px;

  @media (max-width: $tablet-width) {
    column-gap: 30px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    margin-bottom: 29px;
    transform: none;
    display: block;
    column-count: 2;
  }
}

.menu__item {
  max-width: 190px;

  @media (max-width: $mobile-width) {
    margin-bottom: 16px;

    &:first-child {
      margin-top: 39px;
    }
  }
}

.menu__link {
  color: $color-default-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  max-width: 190px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 19px;
  }
}
