.navigation {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }

  a {
    color: $color-default-white;
    max-width: 200px;
    z-index: 1;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.navigation__logo {
  place-self: center start;
  grid-column: 1/2;
  max-height: 31px;

  svg {
    @media (max-width: $tablet-width) {
      width: 82px;
      height: 17px;
    }

    @media (max-width: $mobile-width) {
      width: 69px;
      height: 24px;
    }
  }
}

.navigation__phone {
  place-self: top end;
  font-family: $alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  grid-column: 3/4;

  @media (max-width: $tablet-width) {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}
