.staff {
  width: 100%;
}

.staff__container {
  width: 100%;
  max-width: 1366px;
  padding: 45px;
  padding-top: 0;
  margin: 0 auto;
  padding-bottom: 140px;

  h2 {
    margin: 0;
    font-family: $alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $sapphiret;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 48px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 96px;

    h2 {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 32px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;

    h2 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 43px;
    }
  }
}

.staff__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  height: 294px;
  transform: translate3d(0, 0, 0);
}

.staff__item {
  width: 260px;

  &:hover,
  &:focus-within {
    .staff__description-wrapper {
      display: block;
      background-color: $item-bg;
    }

    .staff__description {
      display: block;
    }
  }
}

.staff__description-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 52px 48px 25px;
  width: 100%;
  bottom: 0;
  left: 0;
  color: $color-default-white;
  background-color: transparent;
  justify-content: flex-end;
  overflow-y: scroll;
  scrollbar-width: 0;

  /* stylelint-disable */
  &::-webkit-scrollbar {
    display: none;
  }

  /* stylelint-enable */

  h3 {
    margin: 0;
    text-align: center;
    font-family: $roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $tablet-width) {
    padding: 52px 44px 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 42px 35px 25px;
  }
}

.staff__description {
  display: none;
  height: fit-content;
  list-style: disc;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  p {
    margin: 0;
    color: $spindle;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    p {
      margin-bottom: 32px;
    }
  }
}

.staff__description-list {
  padding: 0;
  padding-left: 21px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.staff__description-item {
  list-style-type: disc;
  padding-bottom: 12px;
}

.staff__content {
  height: 294px;
}

.staff__swiper {
  box-sizing: content-box;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 56px;

  @media (max-width: $tablet-width) {
    padding: 0 61px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 24px;
  }
}

.staff__image {
  background-color: $light-slate-grey;

  img {
    object-fit: contain;
    width: 100%;
  }
}
